.search-bar{
  display: block;
  font-size: 1.3em;
  width: 99.9999999%;
  padding-left: 10px;
  margin-bottom: 4px
}

.bubbleTitle{
  width: 20%;
  height: 20%;
  border-radius: 10%;
  font-weight: bold;
  padding: 2px;
  margin: 0px
}

.bubbleScore{
  width: 20%;
  height: 20%;
  font-weight: bold;
  border-radius: 10%;
  padding: 2px;
  margin-top: 10px
}

.summary{
  background-color: grey
}

.title-bar{
  background-color: #000F18;
  color: white;
  display: block;
  padding-left: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-top: 10px;
  color: #FCF9F8
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.infoBG{
  /* background-color: rgb(250, 250, 250); */
  width: 99%;
  height: 100%;

}

.info{
  color: #FCF9F8;
  margin: 10px;
}

.infoBlock{
  padding-left: 10px;
}

.box{
  margin-bottom: 20px;
}

.btnSpace{
  margin-left: 10px;
}

.buttonGroup{
  margin-left: 0px;
}